@import "../Variables/Variables.scss";

.navbar {
    width: 100%;
    height: 70px;
    background-color: $darkColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.navbar li {
    color: $lightBlue;
    font-size: 25px;
    font-family: $titleFont;
    margin: 15px;
    cursor: pointer;
    &:hover {
        color: $darkBlue
    }
}

.navbar .links {
    margin-left: 50px;
}
