// Color
$darkColor: rgb(71, 67, 80);
$lightBlue: rgb(193, 238, 255);
$darkBlue: rgb(18, 130, 162);
$darkGreen: rgb(0, 166, 118);
$brass: rgb(196, 158, 133);

// Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;