@import "../Variables/Variables.scss";

.employee button {
    @include buttonStyle(white, grey, $lightBlue);
    height: 45px;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    margin: 5px;
    border-radius: 0;
    &:hover {
        color: $lightBlue;
    }
}


#edit-button{
    background-image: radial-gradient($darkGreen, $darkColor);
}

#delete-button{
    background-image: radial-gradient(red, $darkColor);
    font-size: 13px;
}

.employee-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.employee {
    max-height: 400px;
    max-width: 400px;
    margin: 15px;
    border: 6px;
    border-radius: 3px;
    border-style: groove;
    border-color: $lightBlue;
    background-color: grey;
    background-image: linear-gradient(white, $darkBlue);
}

.employee-datas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.employee-data{
    margin: 10px;
}

.lastname {
    font-style: oblique;
}

.employee a {
    color: $darkBlue
}