@import "../Variables/Variables.scss";

button {
  @include buttonStyle();

}

h1 {
  color: $titleColor
}

form {
  display: table;
  table-layout: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }

.addEmployee div {
  display: table-row;
  }

.addEmployee input {
    display: table-cell;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    border: 1px solid $darkColor;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    &:focus{
        border: 1px solid $darkBlue;
        box-shadow: 0 0 .25rem rgba(0, 0, 0, .5); 
    }
  }

.addEmployee label {
    display:table-cell;
      text-align: right;

}

label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

@media (max-width: 768px) {
  form {
    width: 50%
  }
  .addEmployee input {
    width: 6rem;
    height: .8rem;
    margin-bottom: .3rem;
  }
 h1 {
   font-size: medium; 
 }
 label {
  width: 1rem;
  font-size: 0.8rem;
}
button {
  width: 100px;
  height: 20px;
  font-size: 10px;
  }
  p {
    font-size: 5px;
  }
 }


@media (max-width: 480px) {
  h1 {
    font-size: smaller;
  }
  .addEmployee input {
    width: 3rem;
    height: .4rem;
    margin-bottom: .1rem;
  }
  .addEmployee label {
    font-size: 7px;
  }
  button {
    width: 60px;
    height: 12px;
    font-size: 6px;
    }
    p {
      font-size: 2px;
    }
}