// Color
$darkColor: rgb(71, 67, 80);
$lightBlue: rgb(193, 238, 255);
$darkBlue: rgb(18, 130, 162);
$darkGreen: rgb(0, 166, 118);
$brass: rgb(196, 158, 133);
$titleColor: rgb(3, 33, 78);

// Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;

// Buttons
@mixin buttonStyle($textColor, $hoverTextColor, $shadowColor) {
  width: 150px;
  height: 40px;
  background-color: $darkColor;
  background-image: linear-gradient($darkColor, grey);
  border: none;
  border-radius: 8px;
  color: $textColor;
  font-size: 18px;
  transition: all .2s ease 0s;
  &:hover {
    opacity: .85;
    color: $hoverTextColor;
  };
  &:active {
    box-shadow: 0 5px $shadowColor;
    transform: translateY(4px);
  };


};
